body{
    margin: 0;
    padding: 0;
    background: url(../img/background.jpg);
}
.item{
    display: inline-block;
    font-size: 30px;
    width: 25%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: 25px 50px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}
.item.green{
    background-color: #41A282;
    color: #fff;
    opacity: 0.4;
}
.item.blue{
    background-color: #1181E0;
    color: #fff;
    opacity: 0.4;
}
.item.white{
    background-color: #000;
    color: #fff;
    opacity: 0.4;
}
.item.red{
    background-color: #DE1E1E;
    color: #fff;
    opacity: 0.4;
}
.item.yellow{
    background-color: #DAC215;
    color: #fff;
    opacity: 0.4;
}